@mixin flexContainerRow() {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@mixin flexContainerColumn() {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin nonSelectableText() {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}